@inherits Umbraco.Web.Mvc.UmbracoViewPage
<div class="footer-content">
    <div class="footer-content__column">
        <h3 class="footer-content__column__title">About us</h3>
        <a href="#"><img src="" class="footer-content__column__image" /></a>
        <p class="footer-content__column__text">We work with clients big and small across a range of sectors and we utilise all forms of media to get your name out there in a way that’s right for you. We believe that analysis of your company and your customers is key in responding effectively to your promotional needs and we will work with you to fully understand your business.</p>
    </div>
    <div class="footer-content__column">
        <h3 class="footer-content__column__title">Blog</h3>
        <div class="footer-content__column__blog">
            <a href="#"><div class="footer-content__column__blog__image"></div></a>
            <div class="footer-content__column__blog__content">
                <h4 class="footer-content__column__blog__content__title"><a href="#">Blog post title</a></h4>
                <p class="footer-content__column__blog__content__text">Using the outcomes from the Company Analysis, we will put together a plan&hellip;</p>
            </div>
        </div>
        <div class="footer-content__column__blog">
            <a href="#"><div class="footer-content__column__blog__image"></div></a>
            <div class="footer-content__column__blog__content">
                <h4 class="footer-content__column__blog__content__title"><a href="#">Blog post title</a></h4>
                <p class="footer-content__column__blog__content__text">Using the outcomes from the Company Analysis, we will put together a plan&hellip;</p>
            </div>
        </div>
    </div>
    <div class="footer-content__column">
        <h3 class="footer-content__column__title">Twitter</h3>
        <div class="footer-content__column__twitter">
            <p class="footer-content__column__twitter__title"><a href="#">&#64;twittername</a></p>
            <p class="footer-content__column__twitter__text">twitter status here</p>
        </div>
        <div class="footer-content__column__twitter">
            <p class="footer-content__column__twitter__title"><a href="#">&#64;twittername</a></p>
            <p class="footer-content__column__twitter__text">twitter status here</p>
        </div>
    </div>
    <div class="footer-content__column">
        <h3 class="footer-content__column__title">Contact details</h3>
        <div class="footer-content__column__contact">
            <p class="footer-content__column__contact__details">
                Business name, <br />Address line one, <br />Address line two, <br />City,
                <br />County, <br />POSTCODE, <br />Country
            </p>
            <p class="footer-content__column__contact__telephone">+44 (0)1434 605555</p>
            <p class="footer-content__column__contact__email"><a href="#" class="footer-content__column__contact__email__link">example&#64;yoururl.com</a></p>
        </div>
    </div>
</div>

<footer class="footer" role="contentinfo">
    <div class="footer__content-container">
        <div class="footer__content-container__column">
            &#169; Copyright 2017, Business Name. All rights reserved.
        </div>
        <div class="footer__content-container__column --credit">
            
        </div>
    </div>
</footer>