@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomeViewModel>

<section class="intro-section-image">
    <div class="intro-section-image__background-image"></div>
    <div class="intro-section-image__cta">
        <h1 class="intro-section-image__title">Intro section image</h1>
        <button type="button" class="button">Button</button>
    </div>
    <a href="#content" class="scroll-link">
        <span class="scroll-link__text">Go to content</span>
        <div class="scroll-link__arrow"></div>
    </a>
</section>
